body {
    background-color: #f9f9f9;
}

.navbar {
    padding: 10px;
}

.card {
    border: none;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 0.9rem;
    color: #333;
}

.rating {
    color: #ffcc00;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
}
